
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483064585956'); /* IE9*/
  src: url('iconfont.eot?t=1483064585956#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483064585956') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483064585956') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483064585956#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dongtai:before { content: "\e629"; }

.icon-gonggao:before { content: "\e62a"; }

.icon-luyinjiaocai:before { content: "\e62b"; }

.icon-kejian:before { content: "\e62c"; }

.icon-pingfenbiaozhun:before { content: "\e62d"; }

.icon-fenzuxuexibanjichengyuan:before { content: "\e62e"; }

.icon-quanzi:before { content: "\e62f"; }

.icon-lianxiren:before { content: "\e630"; }

.icon-sixin:before { content: "\e631"; }

.icon-sousuo:before { content: "\e632"; }

.icon-taolun:before { content: "\e633"; }

.icon-tiezi:before { content: "\e634"; }

.icon-tongji:before { content: "\e635"; }

.icon-tijiao:before { content: "\e636"; }

.icon-wenjianxinxi:before { content: "\e637"; }

.icon-weike:before { content: "\e638"; }

.icon-xihuan:before { content: "\e639"; }

.icon-xianshanglianjie:before { content: "\e63a"; }

.icon-xuexifenxi:before { content: "\e63b"; }

.icon-yingyinjiaocai:before { content: "\e63c"; }

.icon-zhangjiekecheng:before { content: "\e63d"; }

.icon-ziyuan:before { content: "\e63e"; }

.icon-zuoye:before { content: "\e63f"; }

.icon-banjiketang:before { content: "\e640"; }

.icon-chengji:before { content: "\e641"; }

.icon-cankaowenjian:before { content: "\e642"; }

.icon-ceshi:before { content: "\e643"; }

.icon-daibanshixiang:before { content: "\e644"; }

.icon-dianming:before { content: "\e645"; }

